<h1>Bonjour</h1>

<p>Pour créer votre mot de passe, merci de cliquer sur le lien suivant :</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">Définir mon mot de passe</a>

<p>Merci</p>
