/build/
/phpunit.xml
/vendor/
/public/bundles/

/tools/rector/vendor
.phpunit.result.cache

###> symfony/phpunit-bridge ###
.phpunit
###< symfony/phpunit-bridge ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/var/
###< symfony/framework-bundle ###
