/build/
/phpunit.xml
/vendor/
/public/bundles/

/tools/rector/vendor
.phpunit.result.cache
/tools/php-cs-fixer/vendor
.php-cs-fixer.cache
/tools/php-code-sniffer/vendor

###> symfony/phpunit-bridge ###
.phpunit
###< symfony/phpunit-bridge ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/var/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
