{% extends 'base.html.twig' %}

{% block title %}Nouvelle tâche{% endblock %}

{% block header_title %}<h1>Créer une nouvelle tâche</h1>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    {{ include('task/_form.html.twig', {
        action: path('task_create'),
        btn_text: 'Ajouter'
    }) }}
{% endblock %}
