nav {
    background-color: var(--color-theme) !important;
    padding: 1rem;

    .navbar-brand {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

        .navbar-logo {
            margin-right: 10px;
        }

        p {
            margin: 0;
        }
    }

    .navbar-nav {
        li {
            padding: 5px !important;
            margin-top: 10px;

            a {
                padding: 5px 15px;

                &:hover {
                    background-color: transparent;
                }

                &.logout:hover {
                    background-color: var(--btn-logout-hover);
                }
            }
        }
    }
}
