.alert {
    &.no_user {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.reset-password__link {
    margin: 5px 0 15px;
    display: inline-block;
}
