{% extends 'base.html.twig' %}

{% block header_title %}<h1>Créer un utilisateur</h1>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    {{ include('user/_form.html.twig', {
        action: path('user_create'),
        btn_text: 'Ajouter'
    }) }}
{% endblock %}
